{% extends 'base.html' %}

{% block title %}Safaricom Share Prices{% endblock %}

{% block content %}

<div class="container mt-4">
    <ul class="nav nav-tabs" id="analysisTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="macro-tab" data-toggle="tab" href="{% url 'home' %}" role="tab" aria-controls="macro" aria-selected="false">Macroeconomic Analysis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="financial-tab" data-toggle="tab" href="{% url 'financials:page1' %}" role="tab" aria-controls="financial" aria-selected="true">Financial Analysis</a>
        </li>
    </ul>
    <div class="tab-content" id="analysisTabsContent">
        <div class="tab-pane fade show active" id="financial" role="tabpanel" aria-labelledby="financial-tab">
            <h3>Financial Analysis</h3>
            <h4>Safaricom Share Prices (June 2024 to date)</h4>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="safaricomChart"></canvas>
                    <div class="alert alert-warning mt-4" role="alert">
                        This content is only accessible to full members. <a href="{% url 'macroeconomics:upgrade' %}" class="btn btn-primary">Click here to become a full member.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const safaricomData = {{ safaricom_data|safe }};
    const labels = safaricomData.map(data => data.Date);
    const closePrices = safaricomData.map(data => data.Close);

    const ctx = document.getElementById('safaricomChart').getContext('2d');
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Close Price (KES)',
                data: closePrices,
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false
            }]
        }
    });
</script>
{% endblock %}
