{% extends 'base.html' %}

{% block title %}MPESA Payment{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Upgrade to Full Membership</h2>
    <p>Please Enter your card details.</p>
    <p>Amount: KES 100</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number:</label>
            <input type="text" id="phone-number" class="form-control" placeholder="Enter Phone Number" required>
        </div>
        <button id="submit-button" class="btn btn-primary mt-3" type="button">Pay</button>
    </form>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    const submitButton = document.getElementById('submit-button');
    const phoneNumberInput = document.getElementById('phone-number');

    submitButton.addEventListener('click', function() {
        const phoneNumber = phoneNumberInput.value;

        fetch("{% url 'initiate_mpesa_payment' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({
                phone_number: phoneNumber
            })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
{% endblock %}